body {
    background-color: burlywood;
}

h1 {
    text-align: center;
    color: rgb(242, 121, 100);
    font-family: 'Times New Roman', Times, serif;
}

.pic {
    display: block;
    margin: auto;
    max-width: max-content;
}

h4 {
    text-align: center;
    color: rgb(242, 121, 100);
    font-family: 'Times New Roman', Times, serif
}

#other {
    text-align: center;
}

.text {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}
