body {
    background: linear-gradient(180deg,#ffafbd, #ffc3a0);
    font-family: 'Times New Roman', Times, serif;
    height: 120vh;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #ffafbd;
    background-color: #fcf6f5;
    text-align: center;
    max-width: 300px;
    margin: 5px auto;
}

.pic {
    margin: auto;
    display: block;
}

h4 {
    color: #ffafbd;
    background-color: #fcf6f5;
    text-align: center;
    margin: 5px auto;
    max-width: 300px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 0;
}

.text a {
    color: rgb(67, 15, 15);
    text-decoration: none;
}

a:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    background-color: rgba(230, 213, 188, 0.397);
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

hr:after {
    content: "00a0";
}